// Overrides for the Easing Slider plugin

// General Image Sizing
.easingslider-image {
    width: 80%;
}


// Dashboard Sliders
.easingslider-464 .easingslider-image {
    border: 1px solid #ccc;
}

.easingslider-prev,
.easingslider-next {
    width: 10px !important;
    height: 10px !important;
    background: none !important;
}

.easingslider-next {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #666;
}

.easingslider-prev {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #666;
}
