// Atoms - Lil thangs for making tings right

// Margins
.margin-left-1p25 {
    margin-left: 1.25em;
}

.margin-left-3p25 {
    margin-left: 3.25em;
}

.margin-right-1p25 {
    margin-right: 1.25em;
}

.margin-right-3p25 {
    margin-right: 3.25em;
}

.margin-top-1p25 {
    margin-top: 1.25em;
}

.margin-top-3p25 {
    margin-top: 3.25em;
}

.margin-bottom-1p25 {
    margin-bottom: 1.25em;
}

.margin-bottom-3p25 {
    margin-bottom: 3.25em;
}

.margin-bottom-6p25 {
    margin-bottom: 6.25em;
}

.margin-0 {
    margin: 0;
}

.margin-1 {
    margin: 1em;
}


// Padding
.padding-left-1p25 {
    padding-left: 1.25em;
}

.padding-left-3p25 {
    padding-left: 3.25em;
}

.padding-right-1p25 {
    padding-right: 1.25em;
}

.padding-right-3p25 {
    padding-right: 3.25em;
}

.padding-top-1p25 {
    padding-top: 1.25em;
}

.padding-top-3p25 {
    padding-top: 3.25em;
}

.padding-bottom-1p25 {
    padding-bottom: 1.25em;
}

.padding-bottom-3p25 {
    padding-bottom: 3.25em;
}

.padding-0 {
    padding: 0;
}

.padding-1 {
    padding: 1em;
}

.padding-top-0 {
    padding-top: 0;
}
