// Button customization css


// Success
.button.success {
    width: 20rem;
    max-width: 100%;
  	background-color: #4CAF50;
  	box-shadow: none;
  	border: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 400;
    text-decoration: none;

    &:hover,
    &focus {
        text-decoration: none;
    }
}


// Button - Ghost style

.button.link {
    width: 20rem;
    max-width: 100%;
  	background-color: #4CAF50;
  	box-shadow: none;
  	border: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 400;
    text-decoration: none;

    &:hover,
    &focus {
        background-color: #222;
        text-decoration: none;
    }
}


// Button - Remove button styles - Link style

.button.none {
    width: 20rem;
    max-width: 100%;
    background-color: #fff;
    border-width: 0;
    box-shadow: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 400;
    color: #222;
    text-decoration: underline;

    &:hover,
    &focus {
        background-color: #fff;
        box-shadow: none;
        color: #2ba6cb;
    }
}


// For contact button - See plugin overrides
