// Image styles

// Desaturate images
.desaturate {
    opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
    -webkit-filter: grayscale(.25);
    -webkit-filter: grayscale(25%);
    -moz-filter: grayscale(25%);

    &:hover {
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0%);
        -moz-filter: grayscale(0%);
    }
}
